<%= form_for(@weigh_in) do |f| %>

  <%= render :partial => 'errors' %>

  <div id="weigh_in">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :start_date %>

    <p>
    <%= f.date_select :end_date %>
    </p>

    <table class="measurements">
      <tr>
        <td class="label">
          <%= f.label :weight %>
        </td>
        <td>
          <%= f.text_field :weight, :class => "numberField", :size => 4 %>
        </td>
        <td class="label">
          <%= f.label :waist %>
        </td>
        <td>
          <%= f.text_field :waist, :class => "numberField", :size => 4 %>
        </td>
        <td class="label">
          <label for="nbf">BF%</label>
        </td>
        <td>
          <%= f.text_field :nbf, :class => "numberField", :size => 4 %>
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="abf">ABF%</label>
        </td>
        <td>
          <%= f.text_field :abf, :class => "numberField", :size => 4 %>
        </td>
        <td class="label">
          <%= f.label :chest %>
        </td>
        <td>
          <%= f.text_field :chest, :class => "numberField", :size => 4 %>
        </td>
        <td class="label">
          <%= f.label :rfarm %>
        </td>
        <td>
          <%= f.text_field :rfarm, :class => "numberField", :size => 4 %>
        </td>
      </tr>
      <tr>
        <td class="label">
          <%= f.label :rbicep %>
        </td>
        <td>
          <%= f.text_field :rbicep, :class => "numberField", :size => 4 %>
        </td>
        <td class="label">
          <%= f.label :neck %>
        </td>
        <td>
          <%= f.text_field :neck, :class => "numberField", :size => 4 %>
        </td>
        <td class="label">
          <%= f.label :rcalf %>
        </td>
        <td>
          <%= f.text_field :rcalf, :class => "numberField", :size => 4 %>
        </td>
      </tr>
      <tr>
        <td class="label">
          <%= f.label :rupthigh %>
        </td>
        <td>
          <%= f.text_field :rupthigh, :class => "numberField", :size => 4 %>
        </td>
      </tr>
    </table>

    <p class="label">
    <%= f.label :comments %>
    </p>
    <p>
    <%= f.text_area :comments, :class => "comments" %>
    </p>

  </div>

  <p>
  <%= f.submit "Update" %>
  </p>

<% end %>
