<%= render :partial => 'chart' %>

<div class="content">
  <div class="header">
    <div class="inner">
    <%= render :partial => 'header_stats',
      :locals => {
      :id => 'currentStats',
      :title => 'Current',
      :stats => @current_stats } %>
      <div class="goalImage">
        <%= image_tag "edson_barboza.jpg" %>
        <div class="quote">
          <p class="text">
          <%=h @quote.text %>&nbsp;
          &mdash;<span class="author"><%=h @quote.author %></span>
          </p>
        </div>
      </div>
      <%= render :partial => 'header_stats',
        :locals => {
        :id => 'goalStats',
        :title => 'Goal',
        :stats => @goal_stats } %>
    </div>
  </div>
  <div class="clear"></div>

  <div class="outer">
    <div class="inner">
      <div class="chart">
        <h3>Weight Over Time</h3>
        <div id="weightChart" class="lineChart"></div>
      </div>
      <div class="chart">
        <h3>Bodyfat Over Time</h3>
        <div id="bodyfatChart" class="lineChart"></div>
      </div>
      <div class="chart">
        <h3>Waist Over Time</h3>
        <div id="waistChart" class="lineChart"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="button">
  <%= link_to new_weigh_in_path do %>
    <button class="pushButton">Add Weigh-In</button>
  <% end %>
  </div>


  <%= stylesheet_link_tag "weigh_in" %>

  <table cellpadding="0" class="box">
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Weight</th>
      <th>Waist</th>
      <th>Body Fat</th>
      <th>Body Fat (A)</th>
      <th>Chest</th>
      <th>Forearm</th>
      <th>Bicep</th>
      <th>Neck</th>
      <th>Calf</th>
      <th>Thigh</th>
      <th>Comments</th>
      <th colspan="2">Commands</th>
    </tr>

  <% @weigh_ins.each_with_index do |weigh_in, index| %>
    <% if index != 9 %>
      <tr onmouseover="this.className='highlight'"
        onmouseout="this.className= 'normal'" class="normal">
    <% else %>
      <tr onmouseover="this.className='highlight end'"
        onmouseout="this.className= 'normal end'" class="normal end">
    <% end %>
      <td><%=h weigh_in.start_date.to_s(:date_only) %></td>
      <td><%=h weigh_in.end_date.to_s(:date_only) %></td>
      <td><%=h weigh_in.weight %>lbs</td>
      <td><%=h weigh_in.waist %>"</td>
      <td><%=h weigh_in.nbf * 100 %>%</td>
      <td><%=h weigh_in.abf * 100 %>%</td>
      <td><%=h weigh_in.chest %>"</td>
      <td><%=h weigh_in.rfarm %>"</td>
      <td><%=h weigh_in.rbicep %>"</td>
      <td><%=h weigh_in.neck %>"</td>
      <td><%=h weigh_in.rcalf %>"</td>
      <td><%=h weigh_in.rupthigh %>"</td>
      <td style="text-align: left;" width="20%"><%=h truncate weigh_in.comments, :length => 40 %></td>
      <td><%= link_to 'Edit', edit_weigh_in_path(weigh_in) %></td>
      <td><%= link_to 'Destroy', weigh_in, :confirm => 'Are you sure?',
          :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= will_paginate @weigh_ins %>

</div>

<footer>
  <p>Copyright &copy; 2013 Pierre-Antoine LaFayette</p>
</footer>
